.tip,
.aside h2 {
    padding: 1rem 0;
    color: var(--clr-accent-900);
}

.tip {
    background-image: linear-gradient(45deg, var(--clr-accent-900), var(--clr-accent-800), var(--clr-accent-700), var(--clr-accent-500));
    color: var(--clr-neutral-300);
    margin: 1rem auto 2rem;
}

.tip__text {
    padding: 1rem;
}

.tip__img {
    margin: 0 auto 2rem;
    max-width: 50%;
}

.tip h4 {
    margin-bottom: 1rem;
}

