#aside {
    flex: 1;
    justify-content: center;
}

.tip {
    padding: 1em;
    margin: 1em auto 4em;
    border-radius: 1em;
    width: 90%;
}

.tip__text {
    padding: 1rem;
}

.tip__title {
    text-align: center;
    margin-top: 1em;
}

.tip__img {
    display:block;
    max-width: 50%;
    margin: 0em auto;
}

.tip h4 {
    margin-bottom: 1rem;
}

