.quotes,
.harvest_places {
    border: .25rem solid var(--clr-accent-900);
    border-radius: 10px;
    margin: 2rem 4rem;
}

.quote {
    margin: 2rem;
}

.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;}

.place {
    max-width: 30%;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 2rem 0;
}

.place__img {
    box-shadow: 10px 10px gainsboro;
    border-radius: 25%;
    margin: 2rem auto;
}