.quotes,
.harvest_places {
    margin: 2rem 2rem;
}

.quote {
    margin: 2rem;
}

.places {
    display: flex-column;
}

.place {
    margin: 2rem;
    display: flex;
    border: .2rem solid var(--clr-accent-900);
    border-radius: 10px;
}

.place__image {
    padding: 1rem;
}

.place__text {
    padding: 1rem;
}

.place__img {
    max-width: 500px;
}

.place__text h3 {
    margin: 1rem 0 2rem;
}

.place__text p {
    margin: 1rem 0;
}