.fishes {
    display: flex;
    flex-wrap: wrap;
}

.fish {
    display: flex-column;
    margin: 1rem;
    border: .2rem solid var(--clr-accent-900);
    border-radius: 10px;
}

.fish__img {
    margin: 1rem auto;
    border-radius: 5%;
    max-width: 300px;
}

.fish__details {
    margin: 1rem .75rem;
    line-height: 2.1rem;
}

.fish__detail {
    display: flex;
}

.detail__title{
    flex: .75;
}

.detail__fact {
    flex: 2;
}

.fish__img {
    padding: 0.5rem;
}
