.fishes {
    display: flex-column;
    max-width: 80%;
    margin: 0 auto;
}

.fish {
    display: flex;
    margin: 1rem 0;
    border: .2rem solid var(--clr-accent-900);
    border-radius: 10px;
}

.fish__img {
    flex: 1;
    margin: auto 0 auto 1rem;
}

.image {
    border-radius: 5%;
}

.fish__details {
    flex: 3;
    margin: 2rem 1rem;
    line-height: 2.1rem;
}

.fish__detail {
    display: flex;
}

.detail__title{
    flex: 1;
}

.detail__fact {
    flex: 3;
}

.fish__img {
    padding: 0.5rem;
}
