/* Assign color pallete -- I used Coolors Exported Palette
 - https://coolors.co/900706-f08f45-00a1e2-0e3b51-66fefc
to find colors based on one of the place photos */

:root {
    
    --clr-accent-200: hsla(200, 88%, 90%, 1); /* columbia-blue */
    --clr-accent-400: hsla(211, 98%, 75%, 1); /* french-sky-blue */
    --clr-accent-500: hsla(205, 97%, 54%, 1); /* carolina-blue */
    --clr-accent-700: hsla(212, 100%, 40%, 1); /* denim */
    --clr-accent-800: hsla(210, 100%, 24%, 1); /* indigo-dye */
    --clr-accent-900: hsla(200, 71%, 19%, 1); /* Indigo Dye */

    --clr-neutral-100: #fff;
    --clr-neutral-200: #fafafa;
    --clr-neutral-300: #e9e7eb;
    --clr-neutral-400: #d3d0d4;
    --clr-neutral-500: #4e4e4e;
    --clr-neutral-600: #464447;

    
    --clr-primary-400: hsla(26, 85%, 61%, 1); /* Cadmium Orange */
    --clr-primary-500: hsla(0, 92%, 29%, 1); /* Dark Red */
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}
 
h3 {
    font-size: 1.8rem;
}
 
h4 {
    font-size: 1.6rem;
}
 
h5 {
    font-size: 1.3rem;
}
 
h6 {
    font-size: 1.1rem;
}
 
p {
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
    font-size: 2.5;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    text-align: center;
    color: var(--clr-accent-900);
}

.fs-500 {
    font-size: 1.3125rem;
    margin: 0;
}
 
.bg-grey { 
    color: var(--clr-primary-500);
    background: linear-gradient(-45deg, var(--clr-neutral-400), var(--clr-neutral-300));
    --pop: (var(--clr-accent-800));
}

.bg-orange {
    color: var(--clr-neutral-100);
    background: linear-gradient(-45deg, var(--clr-primary-500), var(--clr-primary-400));
    --pop: (var(--clr-neutral-400));    
}

.bg-blue {
    color: var(--clr-neutral-300);
    background: linear-gradient(-45deg, var(--clr-accent-900), var(--clr-accent-800), var(--clr-accent-700), var(--clr-accent-500));
    --pop: (var(--clr-primary-400));
}

ul,
li {
    list-style-type: none;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
