header {
    background-image: linear-gradient(45deg, var(--clr-accent-900), var(--clr-accent-800), var(--clr-accent-700), var(--clr-accent-500));
    margin-bottom: 2rem;;
    
}

.header_img {
    display: block;
    padding: 1rem 0;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 2rem;
}

header {
    text-transform: uppercase;
}
