@import url(./general_styling.css);
@import url(./header.css);
@import url(./fish.css);
@import url(./bottom.css);
@import url(./aside.css);

.content {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 4rem;
}

#aquarium {
    flex: 2;
}